@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-gray-300 bg-gray-900;
    }
}

body {
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

:focus {
    outline: none;
    @apply shadow-[0_0_0_2px_#00875F];
}
